body{
  background-color: lightblue;
}
.main{
  text-align: center;
  margin: 5%;
}
form{
  margin: 3%;
}
.buttonComponent{
  margin-left: 42%;
}
.inputComponent{
  margin-left: 40%;
}
button:hover{
  filter: brightness(80%);
}